<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="StyleSheet" type="text/css" href="{{ url_for('static', filename='styleSheet.css') }}"/>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="styleSheet"/>
    <title>Scrapper</title>
</head>
<body id="loginBody">
    <center>
    <h3 id="loginTitle">Login</h3>
    <hr>
    <form action="#" method="post">
        <p class="text">Enter your Username : <input type="text" name="username"/></p>
        <p class="text">Enter your Password : <input type="test" name="password"/></p>
        <p class="buttonCl"><input type="submit" value="submit"/></p>
    </form>
    </center>
</body>
</html>