{% extends "auth_layout.html" %}

{% block content %}

<form class="container p-5 mt-5 bg-teal text-light rounded was-validated" method="post" style="max-width: 700px;">
    {%csrf_token%}

    <h2 class="text-center mb-2">موسسه آموزشی Unity</h2>
    <hr class="my-4">

    <h2 class="text-center mb-2">فرم ثبت نام</h2>
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible fade show text-center" 
                     role="alert" 
                     style="
                        background-color: {% if 'success' in message.tags %}#198754{% elif 'error' in message.tags %}#dc3545{% else %}#333{% endif %} !important; 
                        color: #ffffff !important; 
                        border: 1px solid rgba(255,255,255,0.3);
                     ">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="filter: invert(1);"></button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="mb-3 p-1">
        <label for="username" class="form-label">نام کاربری</label>
        <input type="text" class="form-control" id="username" name="username" required>
        <div class="invalid-feedback"> وارد کردن نام کابری الزامیست</div>
    </div>

    <div class="mb-3 p-1">
        <label for="firstname" class="form-label">نام </label>
        <input type="text" class="form-control" id="firstname" name="firstname" required>
        <div class="invalid-feedback"> وارد کردن نام الزامیست</div>
    </div> 

    <div class="mb-3 p-1">
        <label for="lastname" class="form-label">نام خانوادگی</label>
        <input type="text" class="form-control" id="lastname" name="lastname" required>
        <div class="invalid-feedback"> وارد کردن نام خانوادکی الزامیست</div>
    </div>

    <div class="mb-3 p-1">
        <label for="password" class="form-label">رمز ورود</label>
        <input type="password" class="form-control" id="password" name="password" required>
        <div class="invalid-feedback"> وارد کردن رمز ورود الزامیست</div>
    </div>

    <div class="mb-3 p-1">
        <label for="password_repeat" class="form-label">تکرار رمز ورود</label>
        <input type="password" class="form-control" id="password_repeat" name="password_repeat" required>
        <div class="invalid-feedback"> وارد کردن تکرار رمز ورود الزامیست</div>
    </div>

    <div class="mb-3 p-1" class="form-check">
        <input type="checkbox" id="rules" name="rules" class="form-check-input ms-2" required>
        <label for="rules" class="form-check-label">قوانین را می پذیرم</label>
    </div>

    <div class="mb-3 p-1">
        <input type="submit" class="btn btn-primary" value="ثبت نام">
        <a href="{% url "login" %}" class="btn btn-warning">وارد شوید</a>
    </div>

</form>


{% endblock content %}