 
<div class="row">                    
    <!-- BEGIN BREADCRUMB -->
    <div class="col-md-12">
        <div class="breadcrumb-box border shadow"> 
            <ul class="breadcrumb">
                <li><a href="#">آموزش</a></li>                                
                <li class="active">کلاس ها</li>                            
            </ul>
        </div><!-- /.breadcrumb-box -->
    </div><!-- /.col-md-12 -->
    <!-- END BREADCRUMB -->                    

    <div class="col-md-12">
        <div class="breadcrumb-box border shadow">
            <p>لیست کلاس</p>
        </div>
    </div>

    <div class="col-md-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">                                        
                        <i class="icon-frane"></i>
                       لیست فغلی کلاس  {{cl_title}} {{cl_schedule}} {{course}} {{level}}
                    </h3>
                </div><!-- /.portlet-title -->
                <div class="buttons-box">
                    <a class="btn btn-sm btn-default btn-round btn-code" rel="tooltip" title="کدها" href="#">
                        <i class="fa fa-code"></i>
                    </a>
                    <div class="code-modal hide">
                    </div>
                    <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه" href="#">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                    <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
                        <i class="icon-arrow-up"></i>
                    </a>
                </div><!-- /.buttons-box -->
            </div><!-- /.portlet-heading -->
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="data-table">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>کد ملی</th>
                                <th>نام و نام خانوداگی</th>
                                <th>تلفن</th>
                                <th>همراه مادر</th>
                                <th>همراه پدر</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for st in students %}
                            <tr>
                                <td>
                                    {{forloop.counter}}
                                </td>
                                <td>
                                    {{st.nationalid}}
                                </td>
                                <td>
                                    {{st.fullname}}
                                </td>
                                <td>
                                    {{st.phone}}
                                </td>
                                <td>
                                    {{st.momphone}}
                                </td>
                                <td>
                                    {{st.fatherphone}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.portlet-body -->
        </div><!-- /.portlet -->
    </div><!-- /.col-md-12 -->                
</div><!-- /.row -->

<div class="text-center" style="margin-top: 20px;">
    <button class="btn btn-primary">
        <i class="icon-close"></i>
        چاپ
    </button>

    <a href="#" class="btn btn-secondary" data-dismiss="modal">بازگشت</a>
</div>
