{%extends "layout2.html"%}

{%load static%}
{%block content%}

<!-- BEGIN HEADER -->          
<!-- BEGIN WRAPPER -->




<div class="row">                    
    <!-- BEGIN BREADCRUMB -->
    <div class="col-md-12">
        <div class="breadcrumb-box border shadow"> 
            <ul class="breadcrumb">
                <li><a href="#">مالی</a></li>                                
                <li class="active">چک های ثبت شده </li>                            
            </ul>
        </div><!-- /.breadcrumb-box -->
    </div><!-- /.col-md-12 -->
    <!-- END BREADCRUMB -->                    

    <div class="col-md-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">                                        
                        <i class="icon-frane"></i>
                        لیست چک ها
                    </h3>
                </div><!-- /.portlet-title -->
                <div class="buttons-box">
                    <a class="btn btn-sm btn-default btn-round btn-code" rel="tooltip" title="کدها" href="#">
                        <i class="fa fa-code"></i>
                    </a>
                    <div class="code-modal hide">
                    </div>
                    <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه" href="#">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                    <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
                        <i class="icon-arrow-up"></i>
                    </a>
                </div><!-- /.buttons-box -->
            </div><!-- /.portlet-heading -->
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="data-table">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>زبان آموز</th>
                                <th>تاریخ سررسید</th>
                                <th>نام و نام خانوداگی</th>
                                <th>شماره چک</th>
                                <th>بانک</th>
                                <th>شعبه</th>
                                <th>مبلغ</th>
                                <th>تاریخ ثبت</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for iter in table %}
                                <tr>
                                    <td>
                                        {{forloop.counter}}
                                    </td>
                                    <td>
                                        {{iter.student}}
                                    </td>
                                    <td>
                                        {{iter.date}}
                                    </td>
                                    <td>
                                        {{iter.fullname}}
                                    </td>
                                    <td>
                                        {{iter.number}}
                                    </td>
                                    <td>
                                        {{iter.bankname}}
                                    </td>
                                    <td>
                                        {{iter.fork}}
                                    </td>
                                    <td>
                                        {{iter.price}}
                                    </td>
                                    <td>
                                        {{iter.createtime}}
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.portlet-body -->
        </div><!-- /.portlet -->
    </div><!-- /.col-md-12 -->                
</div><!-- /.row -->

<div class="row footer-container">
    <div class="col-md-12">
        <div class="copyright">
            <p class="pull-right">
                کلیه حقوق آموزشگاه زبان محفوظ می باشد و کپی برداری از آن به هیچ عنوان جایز نیست.
            </p>
            <p class="pull-left ltr tahoma">
                <span>©</span>
                <a href="http://ioplus.ir">ioplus</a>
            </p>
        </div><!-- /.copyright -->
    </div><!-- /.col-md-12 -->
</div><!-- /.row -->
<!-- BEGIN PAGE JAVASCRIPT -->
{%block scripts%}
<script src="{% static  "assets/plugins/data-table/js/jquery.dataTables.min.js"%}"></script>
<script src="{% static "assets/plugins/data-table/js/dataTables.bootstrap.js"%}"></script>
<script src="{% static  "assets/js/pages/datatable.js"%}"></script>
{%endblock%}
<!-- END PAGE JAVASCRIPT -->    
{%endblock%}