{%extends "layout2.html" %}
{%load static%}

{%block extra_css%}
<link href="{% static "assets/plugins/select2/dist/css/select2.min.css"%}" rel="stylesheet">
{%endblock%}

{%block content%}
    <div class="row">                    
        <!-- BEGIN BREADCRUMB -->
        <div class="col-md-12">
            <div class="breadcrumb-box border shadow"> 
                <ul class="breadcrumb">
                    <li><a href="dashboard.html">پیشخوان</a></li>
                    <li><a href="#">فرم ها</a></li>                                
                    <li class="active">فرم ها</li>                            
                </ul>
            </div><!-- /.breadcrumb-box -->
        </div><!-- /.col-md-12 -->
        <!-- END BREADCRUMB -->                    
        
        <div class="col-md-6">
            <div class="portlet box border shadow">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h3 class="title">                                        
                            <i class="icon-settings"></i>
                            فرم ویرایش ثبت نام
                        </h3>
                    </div><!-- /.portlet-title -->
                    <div class="buttons-box">
                        <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه" href="#">
                            <i class="icon-size-fullscreen"></i>
                        </a>
                        <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
                            <i class="icon-arrow-up"></i>
                        </a>
                    </div><!-- /.buttons-box -->
                </div><!-- /.portlet-heading -->
        <form method="POST" action="">
        {% csrf_token %}
                    <div class="portlet-body">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>زبان آموز </label>
                                    <select class="form-control select2" name='student_id' required>
                                        {% for s in student %}
                                            <option value="{{s.studentid}}"
                                            {% if s.studentid == ids.studentid %} selected {% endif %}>
                                                {{s.studentname}} {{s.studentfamily}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label>دوره</label>
                                    <select class="form-control select2" name="course_id" required>
                                        {% for crs in course %}
                                            <option value= "{{crs.courseid}}"
                                            {% if crs.courseid == ids.courseid %} selected {% endif %}>
                                            {{crs.coursecaption}}</option>
                                        {% endfor %}
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label>سطح</label>
                                    <select class="form-control select2" name="level_id" required>
                                        {% for lvl in level %}
                                            <option value="{{lvl.levelid}}"
                                            {% if lvl.levelid == ids.levelid %} selected {% endif %}>
                                            {{lvl.leveltitle}}</option>
                                        {% endfor %}
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label>کلاس</label>
                                    <select class="form-control select2" name="class_id" required>
                                        {% for cl in class %}
                                            <option value="{{cl.clasessid}}"
                                            {% if cl.clasessid == ids.classid %} selected {% endif %}>
                                                {{cl.clasesstitle}}</option>
                                        {% endfor %}
                                    </select>
                                
                                </div><!-- /.form-group -->
                                <p><strong>اقلام آموزشی</strong></p>
                                <div class="form-group">

                                    <label>کتاب</label>
                                    <select class="form-control select2" name="inventory1_id" id="book1">
                                        <option value="" disabled selected>انتخاب کنید</option>
                                        {% for inv in inventory %}
                                            <option value="{{inv.inventoryid}}"
                                            {% if inv.inventoryid == ids.inventory1id %} selected {% endif %}>
                                            {{inv.inventorytitle}}</option>
                                        {% endfor %} 
                                    </select>
                                    <select class="form-control select2" name="inventory2_id" id="book2">
                                        <option value="" disabled selected>انتخاب کنید</option>
                                        {% for inv in inventory %}
                                            <option value="{{inv.inventoryid}}"
                                            {% if inv.inventoryid == ids.inventory2id %} selected {% endif %}>
                                                {{inv.inventorytitle}}</option>
                                        {% endfor %} 
                                    </select>
                                    <select class="form-control select2" name="inventory3_id" id="book3">
                                        <option value="" disabled selected>انتخاب کنید</option>
                                        {% for inv in inventory %}
                                            <option value="{{inv.inventoryid}}"
                                            {% if inv.inventoryid == ids.inventory3id %} selected {% endif %}>
                                            {{inv.inventorytitle}}</option>
                                        {% endfor %} 
                                    </select>
                                </div>
                            </div><!-- /.form-body -->
                    </div><!-- /.portlet-body -->
            </div><!-- /.portlet -->
        </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="portlet box border shadow">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <h3 class="title">                                        
                                <i class="icon-settings"></i>
                                فرم شهریه
                            </h3>
                        </div><!-- /.portlet-title -->
                        <div class="buttons-box">
                            <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه" href="#">
                                <i class="icon-size-fullscreen"></i>
                            </a>
                            <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
                                <i class="icon-arrow-up"></i>
                            </a>
                        </div><!-- /.buttons-box -->
                    </div><!-- /.portlet-heading -->
                    <div class="portlet-body">
                            <div class="form-body">
                                <div class="form-group row">
                                    <label class="col-sm-3">شهریه سطح/دوره</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="شهریه" name="fee" id="fee" required
                                        value="{{old_data.fee}}">
                                    </div>
                                </div><!-- /.form-group -->
                                <div class="form-group row">
                                    <label> مبلغ اقلام آموزشی :</label>
                                    <label id="price1" class="ms-2">0</label>
                                </div>
                                <div class="form-group row">
                                    <label>مبلغ اقلام آموزشی :</label>
                                    <label id="price2" class="ms-2">0</label>
                                </div>
                                <div class="form-group row">
                                    <label>مبلغ اقلام آموزشی :</label>
                                    <label id="price3" class="ms-2">0</label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3">تخفیف </label>
                                    <div class="col-sm-9">
                                        <input type="checkbox" class="form-control" name="is_discount" id="is_discount">
                                    </div>
                                </div><!-- /.form-group -->
                                <div class="form-group row">
                                    <label class="col-sm-3">مبلغ تخفیف</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="0" name="discount" id="discount">
                                    </div>
                                </div><!-- /.form-group -->
                                <label>شهریه قابل پرداخت</label>
                                <div class="form-group row">
                                    <input type="text" 
                                        class="form-control" 
                                        id="total_payable" 
                                        readonly>
                                </div>
                                <div class="form-group row">
                                    <label class="radio-inline">
                                        <input type ="radio" name="payment_method" value="cash" id="paymethod" required
                                        {% if old_data.paymethod == 1 %} checked {%endif%}>
                                        نقدی
                                    </label>
                                    <label class="radio-inline">
                                        <input type ="radio" name="payment_method" id="paymethod" value="deposit" 
                                        {% if old_data.paymethod == 2 %} checked {%endif%}>
                                        واریز حساب
                                    </label>
                                    <label class="radio-inline">
                                        <input type ="radio" name="payment_method" id="paymethod" value="card" 
                                        {% if old_data.paymethod == 3 %} checked {%endif%}>
                                        کارت
                                    </label>
                                    <label class="radio-inline">
                                        <input type ="radio" name="payment_method" id="paymethod" value="cheque" 
                                        {% if old_data.paymethod == 4 %} checked {%endif%}>
                                        چک
                                    </label>
                                </div>
                                <div id="cheque_fields" style="display: none; margin-top: 15px;">
                                    <div class="form-group row">
                                        <label>نام بانک</label>
                                        <select class="form-control select2" name="bankname" id="bankname">
                                            <option value="" disabled selected>انتخاب کنید</option>
                                            {% for bk in bank %}
                                                <option value="{{bk.bk_name}}"
                                                 {% if bk.bk_name == old_cheque.bankname %} selected {% endif %}>
                                                {{bk.bk_name}}</option>
                                            {% endfor %} 
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <label>صاحب حساب</label>
                                        <input type="text" name="owner" id="owner" placeholder="نام صاحب حساب" class="form-control cheque-field"value="{{old_cheque.fullname}}">
                                    </div>
                                    <div class="form-group row">
                                        <label>شماره چک</label>
                                        <input type="text" name="cheque_number" id="cheque_number" placeholder="شماره چک" class="form-control cheque-field" value="{{old_cheque.number}}">
                                    </div>
                                    <div class="form-group row">
                                        <label>شعبه</label>
                                        <input type="text" name="bank_fork" id="bank_fork" placeholder="شعبه" class="form-control cheque-field" value="{{old_cheque.fork}}">
                                    </div>
                                    <div class="form-group row">
                                        <label>کد شعبه</label>
                                        <input type="text" name="bank_forkcode" id="bank_forkcode" placeholder="کد شعبه" class="form-control cheque-field" value="{{old_cheque.forkcode}}">
                                    </div>
                                    <div class="form-group row">
                                        <label>تاریخ سررسید</label>
                                        <input type="text" name="paydate" id="paydate" class="form-control cheque-field" value="{{old_cheque.paydate}}">
                                    </div>
                                    <div class="form-group row">
                                        <label>مبلغ چک</label>
                                        <input type="text" name="cheque_price" id="cheque_price" class="form-control cheque-field" value="{{old_cheque.price}}">
                                    </div>
                                    <div class="form-group row">
                                        <label>توضیحات</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3">پرداخت شده</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="{{old_data.paid}}" name="paid" id="paid" required>
                                    </div>
                                </div><!-- /.form-group -->
                                <div class="form-group row">
                                    <label class="col-sm-3">مانده</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="مانده شهریه" name="remaining" id="remaining" readonly>
                                    </div>
                                </div><!-- /.form-group -->
                                <label> تومان</label>
                                <hr>
                            </div><!-- /.form-body -->

                            <div class="form-actions">
                                <button type="submit" class="btn btn-info btn-round">
                                    <i class="icon-check"></i>
                                    ذخیره
                                </button>
                                <a href="{% url "registerlist" %}" class="btn btn-warning btn-round">
                                   <i class="icon-check"></i>
                                    بازگشت
                                </a>
                            </div><!-- /.form-actions -->
                        </form>
                    </div><!-- /.portlet-body -->
                </div><!-- /.portlet -->
        </form>
            </div><!-- /.col-md-6 -->                
    </div><!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box border shadow">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h3 class="title">                                        
                            <i class="icon-frane"></i>
                            اطلاعات ثبت نام زبان آموزان
                        </h3>
                    </div><!-- /.portlet-title -->
                    <div class="buttons-box">
                        <a class="btn btn-sm btn-default btn-round btn-code" rel="tooltip" title="کدها" href="#">
                            <i class="fa fa-code"></i>
                        </a>
                        <div class="code-modal hide">
                        </div>
                        <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه" href="#">
                            <i class="icon-size-fullscreen"></i>
                        </a>
                        <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
                            <i class="icon-arrow-up"></i>
                        </a>
                    </div><!-- /.buttons-box -->
                </div><!-- /.portlet-heading -->
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="data-table">
                            <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>دوره</th>
                                    <th>سطح</th>
                                    <th>تاریخ</th>
                                    <th>شهریه</th>
                                    <th>تخفیف</th>
                                    <th>پرداخت شده</th>
                                    <th>مانده</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for iter in table %}
                                <tr>
                                    <td>
                                        {{forloop.counter}}
                                    </td>
                                    <td>
                                        {{iter.course}}
                                    </td>
                                    <td>
                                        {{iter.level}}
                                    </td>
                                    <td>
                                        {{iter.date}}
                                    </td>
                                    <td>
                                        {{iter.fee}}
                                    </td>
                                    <td>
                                        {{iter.discount}}
                                    </td>
                                    <td>
                                        {{iter.price}}
                                    </td>
                                    <td>
                                        {{iter.remaining}}
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td>
                                        جمع کل
                                    </td>
                                    <td colspan="3"></td>
                                    <td>
                                        {{sum.fee}}
                                    </td>
                                    <td>
                                        {{sum.discount}}
                                    </td>
                                    <td>
                                        {{sum.pay}}
                                    </td>
                                    <td>
                                        {{sum.remaining}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.table-responsive -->
                </div><!-- /.portlet-body -->
            </div><!-- /.portlet -->
        </div><!-- /.col-md-12 -->  
    </div>
{%endblock%}

{% block scripts %}
{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
<script src="{% static 'assets/plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/select2/dist/js/select2.full.min.js' %}"></script>
<script src="{% static 'assets/plugins/select2/dist/js/i18n/fa.js' %}"></script>
{% comment %} <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/js/select2.min.js"></script> {% endcomment %}

<script>
$(function () {

    /* -------------------------------
       1) Initialize Select2
    --------------------------------*/
    $('.select2').select2({
        width: '100%',
        dir: "rtl",
        minimumResultsForSearch: 0
    });

    /* -------------------------------
       2) Disable discount on page load
    --------------------------------*/
    if (!$("#is_discount").is(":checked")) {
        $("#discount").prop("disabled", true);
    }

    /* -------------------------------
       3) Toggle discount field
    --------------------------------*/
    $("#is_discount").on("change", function () {
        if (this.checked) {
            $("#discount").prop("disabled", false);
        } else {
            $("#discount").prop("disabled", true).val("0");
        }
        calculateRemaining();
    });

    /* -------------------------------
       4) Show/hide cheque fields
    --------------------------------*/
    $('input[name="payment_method"]').on('change', function () {
        if (this.value === "cheque") {
            $("#cheque_fields").slideDown();
            $(".cheque-field").attr("required", true);
        } else {
            $("#cheque_fields").slideUp();
            $(".cheque-field").removeAttr("required");
        }
        calculateRemaining();
    });

    /* -------------------------------
       5) Trigger calculation on inputs
    --------------------------------*/
    ["fee", "discount", "paid", "cheque_price"].forEach(id => {
        const el = document.getElementById(id);
        if (el) el.addEventListener("input", calculateRemaining);
    });

    /* -------------------------------
       6) Book price updates
    --------------------------------*/
    function updateBookPrice(selectId, priceId) {
        const bookId = document.getElementById(selectId).value;

        if (!bookId) {
            document.getElementById(priceId).innerText = "0";
            calculateRemaining();
            return;
        }

        fetch(`/api/book-price/${bookId}/`)
            .then(res => res.json())
            .then(data => {
                document.getElementById(priceId).innerText = data.price;
                calculateRemaining();
            });
    }

    $('#book1').on('change', () => updateBookPrice('book1', 'price1'));
    $('#book2').on('change', () => updateBookPrice('book2', 'price2'));
    $('#book3').on('change', () => updateBookPrice('book3', 'price3'));

    /* -------------------------------
       7) Final remaining calculation
    --------------------------------*/
    function calculateRemaining() {
        const fee = parseInt($("#fee").val()) || 0;
        const discount = parseInt($("#discount").val()) || 0;
        const paid = parseInt($("#paid").val()) || 0;

        const price1 = parseInt($("#price1").text()) || 0;
        const price2 = parseInt($("#price2").text()) || 0;
        const price3 = parseInt($("#price3").text()) || 0;

        const chequePrice = parseInt($("#cheque_price").val()) || 0;

        // 🔹 Total payable BEFORE payment
        let totalPayable = fee + price1 + price2 + price3 - discount;

        // Show it in the new field
        $("#total_payable").val(totalPayable);

        // 🔹 Now calculate remaining
        let paidTotal = paid;
        const method = $('input[name="payment_method"]:checked').val();

        if (method === "cheque") {
            paidTotal += chequePrice;
        }

        $("#remaining").val(totalPayable - paidTotal);
    }

    /* -------------------------------
       8) NEW: Initialize everything on page load
    --------------------------------*/
    function initializePage() {
        // Load book prices for pre-selected books
        updateBookPrice('book1', 'price1');
        updateBookPrice('book2', 'price2');
        updateBookPrice('book3', 'price3');

        // Apply payment method logic
        const method = $('input[name="payment_method"]:checked').val();
        if (method === "cheque") {
            $("#cheque_fields").show();
            $(".cheque-field").attr("required", true);
        } else {
            $("#cheque_fields").hide();
            $(".cheque-field").removeAttr("required");
        }

        // Apply discount logic
        if ($("#is_discount").is(":checked")) {
            $("#discount").prop("disabled", false);
        } else {
            $("#discount").prop("disabled", true);
        }
        calculateRemaining();
    }

    initializePage();

});
</script>

{% endblock %}
