{%extends "layout2.html"%}

{%load static%}
{%block content%}

<!-- BEGIN HEADER -->          
<!-- BEGIN WRAPPER -->

<div class="row">                    
    <!-- BEGIN BREADCRUMB -->
    <div class="col-md-12">
        <div class="breadcrumb-box border shadow"> 
            <ul class="breadcrumb">
                <li><a href="#">انبار</a></li>                                
                <li class="active">اقلام آموزشی</li>                            
            </ul>
        </div><!-- /.breadcrumb-box -->
    </div><!-- /.col-md-12 -->
    <!-- END BREADCRUMB -->                    

    <div class="col-md-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">                                        
                        <i class="icon-frane"></i>
                        گزارش مالی
                    </h3>
                </div><!-- /.portlet-title -->
                <div class="buttons-box">
                    <a class="btn btn-sm btn-default btn-round btn-code" rel="tooltip" title="کدها" href="#">
                        <i class="fa fa-code"></i>
                    </a>
                    <div class="code-modal hide">
                    </div>
                    <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه" href="#">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                    <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
                        <i class="icon-arrow-up"></i>
                    </a>
                </div><!-- /.buttons-box -->
            </div><!-- /.portlet-heading -->
            <div class="portlet-body">
                <form method="POST" action="">
                    {%csrf_token%}
                    <div class="form-body">
                        <div class="form-group">
                            <label >دوره</label>
                            <select class="form-control select2" name="course" required>
                                {% for crs in course %}
                                <option value="{{crs.courseid}}"
                                {% if courseid == crs.courseid %}selected{% endif %}>
                                {{crs.coursecaption}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-actions ">
                            <button type="submit" class="btn btn-info btn-round">
                                <i class="icon-check"></i>
                                دریافت گزارش
                            </button>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="data-table">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>نام و نام خانوداگی</th>
                                <th>کد ملی</th>
                                <th>سطح</th>
                                <th>کلاس</th>
                                <th>تاریخ</th>
                                <th>شهریه</th>
                                <th>اقلام</th>
                                <th>تخفیف</th>
                                <th>پرداخت شده</th>
                                <th>مانده</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for iter in table %}
                                <tr>
                                    <td>
                                        {{forloop.counter}}
                                    </td>
                                    <td>
                                        {{iter.fullname}}
                                    </td>
                                    <td>
                                        {{iter.nationalid}}
                                    </td>
                                    <td>
                                        {{iter.level}}
                                    </td>
                                    <td>
                                        {{iter.class}}
                                    </td>
                                    <td>
                                        {{iter.date}}
                                    </td>
                                    <td>
                                        {{iter.fee}}
                                    </td>
                                    <td>
                                        {{iter.inventory}}
                                    </td>
                                    <td>
                                        {{iter.discount}}
                                    </td>
                                    <td>
                                        {{iter.paid}}
                                    </td>
                                    <td>
                                        {{iter.remaining}}
                                    </td>
                                    
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    مجموع ستون
                                </td>
                                <td colspan="5" ></td>
                                <td>
                                    {{sum.fee}}
                                </td>
                                <td>
                                    {{sum.inventory}}
                                </td>
                                <td>
                                    {{sum.discount}}
                                </td>
                                <td>
                                    {{sum.paid}}
                                </td>
                                <td>
                                    {{sum.remaining}}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.portlet-body -->
        </div><!-- /.portlet -->
    </div><!-- /.col-md-12 -->     

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 col-xs-6 xxs-full-width">
                <div class="stat-box bg-darkblue shadow">
                    <a href="#">
                        <div class="stat">
                            <div class="h3">نقدی</div>
                            <div class="h1">{{card.cash}}</div>
                        </div><!-- /.stat -->
                        <div class="visual">
                            <i class="icon-eye"></i>
                        </div><!-- /.visual -->
                    </a>
                </div><!-- /.stat-box -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-xs-6 xxs-full-width">
                <div class="stat-box bg-blue shadow">
                    <a href="#">
                        <div class="stat">
                            <div class="h3">واریز حساب</div>
                            <div class="h1">{{card.deposit}}</div>
                        </div><!-- /.stat -->
                        <div class="visual">
                            <i class="icon-calculator"></i>
                        </div><!-- /.visual -->
                    </a>
                </div><!-- /.stat-box -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-xs-6 xxs-full-width">
                <div class="stat-box bg-blue shadow">
                    <a href="#">
                        <div class="stat">
                            <div class="h3">کارت</div>
                            <div class="h1">{{card.card}}</div>
                        </div><!-- /.stat -->
                        <div class="visual">
                            <i class="icon-calculator"></i>
                        </div><!-- /.visual -->
                    </a>
                </div><!-- /.stat-box -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-xs-6 xxs-full-width">
                <div class="stat-box bg-red shadow">
                    <a href="#">
                        <div class="stat">
                            <div class="h3">چک</div>
                            <div class="h1">{{card.cheque}}</div>
                        </div><!-- /.stat -->
                        <div class="visual">
                            <i class="icon-wallet"></i>
                        </div><!-- /.visual -->
                    </a>
                </div><!-- /.stat-box -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-xs-6 xxs-full-width">
                <div class="stat-box bg-red shadow">
                    <a href="#">
                        <div class="stat">
                            <div class="h3">کل دریافتی</div>
                            <div class="h1">{{sum.paid}}</div>
                        </div><!-- /.stat -->
                        <div class="visual">
                            <i class="icon-wallet"></i>
                        </div><!-- /.visual -->
                    </a>
                </div><!-- /.stat-box -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-xs-6 xxs-full-width">
                <div class="stat-box bg-orange shadow">
                    <a href="#">
                        <div class="stat">
                            <div class="h3">مانده</div>
                            <div class="h1">{{sum.remaining}}</div>
                        </div><!-- /.stat -->
                        <div class="visual">
                            <i class="icon-wallet"></i>
                        </div><!-- /.visual -->
                    </a>
                </div><!-- /.stat-box -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div>

        <div class="col-md-12">
            <div class="row">
                {% for lvl in cardtables %}
                    <div class="col-md-3 col-xs-6 xxs-full-width">
                        <div class="stat-box bg-darkblue shadow">
                            <a href="#">
                                <div class="stat">
                                    <div class="h3">سطح:{{lvl.level}}</div>
                                    <div class="h3">تعداد ثبت نام:{{lvl.signed}}</div>
                                    <div class="h3">کل دریافتی ها:{{lvl.paid}}</div>
                                </div><!-- /.stat -->
                            </a>
                        </div><!-- /.stat-box -->
                    <table class="table table-bordered table-hover table-striped" id="data-table">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>عنوان</th>
                                <th>مبلغ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>شهریه دوره</td>
                                <td>{{lvl.fee}}</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>اقلام آموزشی</td>
                                <td>{{lvl.inventory_amount}}</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>مبلغ اقلام آموزشی</td>
                                <td>{{lvl.inventory_price}}</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>تخفیف</td>
                                <td>{{lvl.discount}}</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>دریافتی</td>
                                <td>{{lvl.paid}}</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>مانده</td>
                                <td>{{lvl.remaining}}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                    </div><!-- /.col-md-3 -->

                {% endfor %}
            </div><!-- /.row -->
    </div>
</div><!-- /.row -->

<div class="row footer-container">
    <div class="col-md-12">
        <div class="copyright">
            <p class="pull-right">
                کلیه حقوق آموزشگاه زبان محفوظ می باشد و کپی برداری از آن به هیچ عنوان جایز نیست.
            </p>
            <p class="pull-left ltr tahoma">
                <span>©</span>
                <a href="http://ioplus.ir">ioplus</a>
            </p>
        </div><!-- /.copyright -->
    </div><!-- /.col-md-12 -->
</div><!-- /.row -->
<!-- BEGIN PAGE JAVASCRIPT -->
{%block scripts%}
<script src="{% static  "assets/plugins/data-table/js/jquery.dataTables.min.js"%}"></script>
<script src="{% static "assets/plugins/data-table/js/dataTables.bootstrap.js"%}"></script>
<script src="{% static  "assets/js/pages/datatable.js"%}"></script>


{%endblock%}
<!-- END PAGE JAVASCRIPT -->    
{%endblock%}