{%extends "layout2.html"%}

{%load static%}
{%block content%}

<!-- BEGIN HEADER -->          
<!-- BEGIN WRAPPER -->

<div class="row">                    
    <!-- BEGIN BREADCRUMB -->
    <div class="col-md-12">
        <div class="breadcrumb-box border shadow"> 
            <ul class="breadcrumb">
                <li><a href="#">گزارشات</a></li>                                
                <li class="active">لیست ثبتنام هر دوره</li>                            
            </ul>
        </div><!-- /.breadcrumb-box -->
    </div><!-- /.col-md-12 -->
    <!-- END BREADCRUMB -->                    

    <div class="col-md-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">                                        
                        <i class="icon-frane"></i>
                        لیست ثبت نام ها
                    </h3>
                </div><!-- /.portlet-title -->
                <div class="buttons-box">
                    <a class="btn btn-sm btn-default btn-round btn-code" rel="tooltip" title="کدها" href="#">
                        <i class="fa fa-code"></i>
                    </a>
                    <div class="code-modal hide">
                    </div>
                    <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه" href="#">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                    <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
                        <i class="icon-arrow-up"></i>
                    </a>
                </div><!-- /.buttons-box -->
            </div><!-- /.portlet-heading -->
            <div class="portlet-body">
                <form method="POST" action="">
                    {%csrf_token%}
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-sm-3">دوره</label>
                            <select class="form-control select2 col-sm-6" name="course" required>
                                {% for crs in course %}
                                <option value="{{crs.courseid}}"
                                {% if crs.courseid == courseid %}selected{% endif %}>
                                {{crs.coursecaption}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-info btn-round">
                                <i class="icon-check"></i>
                                دریافت گزارش
                            </button>

                        </div>
                    </div>
                </form>
            </div><!-- /.portlet-body -->
            <div class="portlet-body">
                <div class="table-responsive">
                    <div class="row">
                    {% for iter in level %}
                        <div class="col-md-3 col-xs-6 xxs-full-width">
                            <a href={% url "reportleveltable" courseid iter.levelid %}
                            class="btn-curve btn-green btn-block">
                                {{iter.title}}
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div><!-- /.portlet -->
    </div><!-- /.col-md-12 -->     

          
</div><!-- /.row -->

<div class="row footer-container">
    <div class="col-md-12">
        <div class="copyright">
            <p class="pull-right">
                کلیه حقوق آموزشگاه زبان محفوظ می باشد و کپی برداری از آن به هیچ عنوان جایز نیست.
            </p>
            <p class="pull-left ltr tahoma">
                <span>©</span>
                <a href="http://ioplus.ir">ioplus</a>
            </p>
        </div><!-- /.copyright -->
    </div><!-- /.col-md-12 -->
</div><!-- /.row -->
<!-- BEGIN PAGE JAVASCRIPT -->
{%block scripts%}
<script src="{% static  "assets/plugins/data-table/js/jquery.dataTables.min.js"%}"></script>
<script src="{% static "assets/plugins/data-table/js/dataTables.bootstrap.js"%}"></script>
<script src="{% static  "assets/js/pages/datatable.js"%}"></script>


{%endblock%}
<!-- END PAGE JAVASCRIPT -->    
{%endblock%}