{%extends "layout2.html" %}
{%load static%}

{%block extra_css%}
<link href="{% static "assets/plugins/select2/dist/css/select2.min.css"%}" rel="stylesheet">
{%endblock%}

{%block content%}
    <div class="row">                    
        <!-- BEGIN BREADCRUMB -->
        <div class="col-md-12">
            <div class="breadcrumb-box border shadow"> 
                <ul class="breadcrumb">
                    <li><a href="dashboard.html">زبان آموز</a></li>                              
                    <li class="active">ثبت نام زبان آموز</li>                            
                </ul>
            </div><!-- /.breadcrumb-box -->
        </div><!-- /.col-md-12 -->
        <!-- END BREADCRUMB -->                    
        
        <div class="col-md-12">
            <div class="portlet box border shadow">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h3 class="title">                                        
                            <i class="icon-settings"></i>
                            فرم ثبت نام
                        </h3>
                    </div><!-- /.portlet-title -->
                    <div class="buttons-box">
                        <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه" href="#">
                            <i class="icon-size-fullscreen"></i>
                        </a>
                        <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
                            <i class="icon-arrow-up"></i>
                        </a>
                    </div><!-- /.buttons-box -->
                </div><!-- /.portlet-heading -->
        <form method="POST" action="">
        {% csrf_token %}
            <div class="portlet-body">
                    <div class="form-body">
                        <div class="col-xs-6">
                            <div class="form-group row">
                                <label class="col-sm-3">نام</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="firstname" id="firstname" required
                                    value= "{{old.firstname}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">نام خانوادگی</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="lastname" id="lastname" required
                                    value= "{{old.lastname}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">کدملی</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="nationalid" id="nationalid" required
                                    value= "{{old.nationalID}}">
                                </div>
                            </div>
                             <div class="form-group row">
                                <label class="col-sm-3">شماره شناسنامه</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="shenasnameh" id="shenasnameh" 
                                    value= "{{old.shenasnameh}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">نام پدر</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="father" id="father" 
                                    value= "{{old.father}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">تلفن پدر</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="fatherphone" id="fatherphone" 
                                    value= "{{old.dadPhone}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">تلفن مادر</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="motherphone" id="motherphone" 
                                    value= "{{old.momPhone}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">تلفن</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="phone" id="phone" 
                                    value= "{{old.phone}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">نقص مدارک</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" class="form-control" name="incomplete" id="incomplete" 
                                    {% if old.incomplete %}checked{% endif %}>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>جنسیت</label>
                                <select class="form-control select2" name="gender" required>
                                    <option value= "0"
                                    {% if old.gender == 0 %}selected{% endif %}>زن</option>
                                    <option value= "1"
                                    {% if old.gender == 1 %}selected{% endif %}>مرد</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>آخرین مدرک</label>
                                <select class="form-control select2" name="certificate" required>
                                    <option value= "1"
                                    {% if old.certificate == 1 %}selected{% endif %}>ابتدایی</option>
                                    <option value= "2"
                                    {% if old.certificate == 2 %}selected{% endif %}>متوسطه اول</option>
                                    <option value= "3"
                                    {% if old.certificate == 3 %}selected{% endif %}>متوسطه دوم</option>
                                    <option value= "4"
                                    {% if old.certificate == 4 %}selected{% endif %}>کاردانی</option>
                                    <option value= "5"
                                    {% if old.certificate == 5 %}selected{% endif %}>کارشناسی</option>
                                    <option value= "6"
                                    {% if old.certificate == 6 %}selected{% endif %}>کارشناسی ارشد</option>
                                    <option value= "7"
                                    {% if old.certificate == 7 %}selected{% endif %}>دکترا</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>استان</label>
                                <select class="form-control select2" name="province" required>
                                    {% for pv in provinces %}
                                    <option value="{{pv.name}}"
                                    {% if old.province == pv.name %}selected{% endif %}>{{pv.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">شهرستان</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="city" id="city" required
                                    value= "{{old.city}}">
                                </div>
                            </div> 
                            <div class="form-group row">
                                <label class="col-sm-3">محل صدور</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="sodoor" id="sodoor" 
                                    value= "{{old.sodoor}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">محل تولد</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="birthplace" id="birthplace" 
                                    value= "{{old.birthplace}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">نشانی</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="address" id="address" 
                                    value= "{{old.address}}">
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-info btn-round">
                                <i class="icon-check"></i>
                                ذخیره
                            </button>
                            <a href="{% url "studentlist" %}" class="btn btn-primary btn-warning round">
                                <i class="icon-close"></i>
                                بازگشت
                            </a>
                        </div>
                    </div><!-- /.form-body -->
            </div><!-- /.portlet-body -->
        </form>        
    </div><!-- /.row -->
{%endblock%}

{% block scripts %}
{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
<script src="{% static 'assets/plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/select2/dist/js/select2.full.min.js' %}"></script>
<script src="{% static 'assets/plugins/select2/dist/js/i18n/fa.js' %}"></script>
{% comment %} <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/js/select2.min.js"></script> {% endcomment %}

<script>
$(function () {

    $('.select2').select2({
        width: '100%',
        dir: "rtl",
        minimumResultsForSearch: 0
    });

});
function updateTotal() {
    // Read values safely (convert empty or invalid to 0)
    const oral  = parseInt($("#oral").val())  || 0;
    const quiz  = parseInt($("#quiz").val())  || 0;
    const cls   = parseInt($("#class").val()) || 0;
    const final = parseInt($("#final").val()) || 0;

    const total = oral + quiz + cls + final;

    $("#total").val(total);
}

// Trigger on typing or changing
$("#oral, #quiz, #class, #final").on("input", updateTotal);

$("#total").on("input", function () {
    updateTotal();  // Immediately correct the value
});

// Safety: recalc before submit
$("form").on("submit", updateTotal);
</script>

{% endblock %}
