{%extends "layout2.html"%}

{%load static%}
{%block content%}

<!-- BEGIN HEADER -->          
<!-- BEGIN WRAPPER -->

<div class="row">                    
    <!-- BEGIN BREADCRUMB -->
    <div class="col-md-12">
        <div class="breadcrumb-box border shadow"> 
            <ul class="breadcrumb">
                <li><a href="#">شهریه</a></li>                                
                <li class="active">تغریف شهریه سطح ها</li>                            
            </ul>
        </div><!-- /.breadcrumb-box -->
    </div><!-- /.col-md-12 -->
    <!-- END BREADCRUMB -->                    

    <div class="col-md-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">                                        
                        <i class="icon-frane"></i>
                        تغریف شهریه هر دوره و سطح
                    </h3>
                </div><!-- /.portlet-title -->
                <div class="buttons-box">
                    <a class="btn btn-sm btn-default btn-round btn-code" rel="tooltip" title="کدها" href="#">
                        <i class="fa fa-code"></i>
                    </a>
                    <div class="code-modal hide">
                    </div>
                    <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه" href="#">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                    <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
                        <i class="icon-arrow-up"></i>
                    </a>
                </div><!-- /.buttons-box -->
            </div><!-- /.portlet-heading -->
            <div class="portlet-body">
                <form method="POST" action="">
                    {%csrf_token%}
                    <div class="form-body">
                        <div class="form-group">
                            <label>دوره</label>
                            <select class="form-control select2" name="course" required>
                                {% for crs in course %}
                                <option value="{{crs.courseid}}">{{crs.coursecaption}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>سطح</label>
                            <select class="form-control select2" name="level" required>
                                {% for lvl in level %}
                                <option value="{{lvl.levelid}}">{{lvl.leveltitle}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3">شهریه دوره</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="price" id="price" required>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-info btn-round">
                                <i class="icon-check"></i>
                                ذخیره
                            </button>
                        </div><!-- /.form-actions -->
                    </div>
                </form>
            </div><!-- /.portlet-body -->
        </div><!-- /.portlet -->
    </div><!-- /.col-md-12 -->     

    <div class="col-md-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">                                        
                        <i class="icon-frane"></i>
                        لیست دوره ها
                    </h3>
                </div><!-- /.portlet-title -->
                <div class="buttons-box">
                    <a class="btn btn-sm btn-default btn-round btn-code" rel="tooltip" title="کدها" href="#">
                        <i class="fa fa-code"></i>
                    </a>
                    <div class="code-modal hide">
                    </div>
                    <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه" href="#">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                    <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
                        <i class="icon-arrow-up"></i>
                    </a>
                </div><!-- /.buttons-box -->
            </div><!-- /.portlet-heading -->
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="data-table">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>نام دوره</th>
                                <th>نام سطح</th>
                                <th>شهریه</th>
                                <th>تاریخ ثبت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for iter in table %}
                                <tr>
                                    <td>
                                        {{forloop.counter}}
                                    </td>
                                    <td>
                                        {{iter.course}}
                                    </td>
                                    <td>
                                        {{iter.level}}
                                    </td>
                                    <td> 
                                       {{iter.price}}
                                    </td>
                                    <td>
                                        {{iter.date}}
                                    </td>
                                    <td>
                                        <span class="input-group-btn round">
                                            <a href="{% url "tuitionupdate" iter.tuitionid %}" class="btn btn-primary">
                                                ویرایش
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.portlet-body -->
        </div><!-- /.portlet -->
    </div><!-- /.col-md-12 -->                
</div><!-- /.row -->

<div class="row footer-container">
    <div class="col-md-12">
        <div class="copyright">
            <p class="pull-right">
                کلیه حقوق آموزشگاه زبان محفوظ می باشد و کپی برداری از آن به هیچ عنوان جایز نیست.
            </p>
            <p class="pull-left ltr tahoma">
                <span>©</span>
                <a href="http://ioplus.ir">ioplus</a>
            </p>
        </div><!-- /.copyright -->
    </div><!-- /.col-md-12 -->
</div><!-- /.row -->
<!-- BEGIN PAGE JAVASCRIPT -->
{%block scripts%}
<script src="{% static  "assets/plugins/data-table/js/jquery.dataTables.min.js"%}"></script>
<script src="{% static "assets/plugins/data-table/js/dataTables.bootstrap.js"%}"></script>
<script src="{% static  "assets/js/pages/datatable.js"%}"></script>


{%endblock%}
<!-- END PAGE JAVASCRIPT -->    
{%endblock%}